@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  font-family: inter;
}
body {
  margin: 0;
  line-height: normal;
  background-image: url(./assets/component-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
